<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/smedia/css/main.css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/smedia/js/jquery.min.js"></script>
    <script type="text/javascript" src="/smedia/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/smedia/js/jquery.fancybox-1.2.1.js"></script>
    {% block scriptfiles %}{% endblock %}
	<script type="text/javascript">{% block script %}{% endblock %}</script>

    <title>Ben Ogle - {% block title %}Home{% endblock %}</title>
    <meta name="description" content="{% block description %}Ben Ogle is an american computer programmer.{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}ben ogle, awesome, bre, python, c#, jquery{% endblock %}" />
	
	{% block headblock %}{% endblock %}
</head>

<body>
	<div id="site-wrapper">
		<div id="{% block wrapperid %}wrapper{% endblock %}">
			<!--[if IE 6]>
			{% block ieblock %}
			<div id="ieerr">
				<h3>Internet Explorer 6 is <i>evil.</i></h3>
				<p>
					Please help advance the web and
					<a href="http://www.microsoft.com/windows/internet-explorer/worldwide-sites.aspx">upgrade</a>
					your browser or use a modern alternative such as
					<a href="http://www.getfirefox.net/download.html">Firefox</a>,
					<a href="http://www.opera.com/">Opera</a>,
					<a href="http://www.apple.com/safari/">Safari</a>, or
					<a href="http://www.google.com/chrome">Chrome</a>.
				</p>
				<div class="ieerr-bottom"></div>
			</div>
			{% endblock %}
			<![endif]-->
	
			<div id="header">
				{% block navblock %}
				<ul id="nav">
					<li><a href="/contact" {% ifequal page.slug 'contact' %}class="selected"{% endifequal %}><img src="/smedia/img/header_contact.png" alt="contact" /></a></li>
					<li><a href="/about" {% ifequal page.slug 'about' %}class="selected"{% endifequal %}><img src="/smedia/img/header_about.png" alt="about" /></a></li>
					<li><a href="/projects" {% ifequal page.slug 'projects' %}class="selected"{% endifequal %}><img src="/smedia/img/header_projects.png" alt="projects" /></a></li>
					<li><a href="http://blog.benogle.com"><img src="/smedia/img/header_blog.png" alt="blog" /></a></li>
					<li><a href="/" {% ifequal page.slug 'index' %}class="selected"{% endifequal %}><img src="/smedia/img/header_main.png" alt="main" /></a></li>
				</ul>
				{% endblock %}
				<h1 id="blog-title">
					<a href="/" title="Ben Ogle Home" rel="home">
						<img src="{% block head-img %}/smedia/img/headindex.png{% endblock %}" border="0" />
					</a>
				</h1>
			</div><!--  #header -->
	
			<div id="container">
                
				<div id="content">
	
					{% block content %}{% endblock %}
	
				</div><!-- #content -->
			</div><!-- #container -->
	
			<div id="footer">
				<div class="copy">Awesomeness is copyright 2010 ben ogle. Anything on here that's crap is public domain.</div>
			</div><!-- #footer -->
	
		</div><!-- #wrapper -->
	</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2310458-11");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
