{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block description %}{{ page.meta_description }}{% endblock %}

{% block keywords %}{{ page.meta_keywords }}{% endblock %}

{% block head-img %}{{ page.header_image.geturl }}{% endblock %}

{% block sidebar %}{{ page.sidebar.content|safe }}{% endblock %}

{% block scriptfiles %}
<script type="text/javascript" src="/smedia/js/jquery.form.js"></script>
<script type="text/javascript" src="/smedia/js/jquery.validate.js"></script>
<script type="text/javascript" src="/smedia/js/site.contact.js"></script>
{% endblock %}

{% block headblock %}
<style type="text/css">
/** contact form **/

#contactform{

}

#contactform .field-wrapper{
	margin: 5px 0;
	padding: 5px 0;
}

#contactform .field-wrapper label.field-label{
	margin-right: 10px;
	padding-top: 2px;
	display: block;
	font-weight: bold;
}

#contactform .field-error{
	/*padding: 10px 5px;*/
}

#contactform .field-error ul.errorlist{
	margin: 0 0 0 0px;
	padding: 0;
	list-style:none;
}

#contactform .field-error ul.errorlist li{
	list-style:none;
	margin: 0;
	padding: 0;
	color: #c00;
	font-weight: bold;
}

#contactform .field-wrapper input {
	width: 400px;
	border: 1px solid #ccc;
}

#contactform .field-wrapper input, #contactform .field-wrapper textarea {
	width: 450px;
	border: 1px solid #ccc;
	padding: 6px;
	font-size: 10pt;
}
#contactform .field-wrapper textarea{width: 500px;}

#contactform .field-wrapper input.button {
	width: auto;
}
</style>
{% endblock %}

{% block content %}

<div class="entry-page">
	<h2 class="entry-title">
		{% if status %}
			Thank You
		{% else %}
			{{ page.title }}
		{% endif %}
	</h2>

	<div class="entry-left">
		<div class="entry-image">
			<img src="{{ page.accent_image.geturl }}" alt="fluff image"/>
		</div>
	</div>

	<div class="entry">
		
		<div class="entry-content">

			{% if status %}
				{% if status.good %}
					<p>Your email has been sent. Ben will get back to you as soon as he possibly can!</p>
				{% else %}
					<p>Oops, error: {{ status.msg }}</p>
				{% endif %}
			{% else %}
				{{ page.gethtml|safe }}

				<form id="contact" action="/contact" method="POST">
					<div id="contactform">
						<div class="field-wrapper {% if form.sender.errors %}field-error{% endif %}"  >
							<label class="field-label" for="id_sender">your email</label>
							{{ form.sender }}
							{{ form.sender.errors }}
						</div>
						<div class="field-wrapper {% if form.subject.errors %}field-error{% endif %}">
							<label class="field-label" for="id_subject">subject</label>
							{{ form.subject }}
							{{ form.subject.errors }}
						</div>
						<div class="field-wrapper {% if form.message.errors %}field-error{% endif %}">
							<label class="field-label" for="id_message">message</label>
							{{ form.message }}
							{{ form.message.errors }}
						</div>
						<div class="field-wrapper">
							<label class="field-label" ></label>
							<input type="submit" class="button" value="Send" />
							<img src="/smedia/img/loading.gif" id="load-image" style="display:none" />
						</div>
					</div>
				</form>
			{% endif %}

		</div>

	</div>
</div>

{% endblock %}