{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block description %}{{ page.description }}{% endblock %}

{% block keywords %}{{ page.keywords }}{% endblock %}

{% block head-img %}{{ page.header_image.geturl }}{% endblock %}

{% block sidebar %}{{ page.sidebar.content|safe }}{% endblock %}

{% block scriptfiles %}
<script type="text/javascript" src="/smedia/js/jquery.form.js"></script>
<script type="text/javascript" src="/smedia/js/jquery.validate.js"></script>
<script type="text/javascript" src="/smedia/js/site.contact.js"></script>
{% endblock %}


{% block content %}

<div class="entry-page">
	<div class="entry-image">
		<img src="{{ page.accent_image.geturl }}" alt="fluff image"/>
	</div>

	<div class="entry">
		<h2 class="entry-title">
			{% if status %}
				Thank You
			{% else %}
				{{ page.title }}
			{% endif %}
		</h2>
		<div class="entry-content">

			{% if status %}
				{% if status.good %}
					<p>Your email has been sent. Ben will get back to you as soon as he possibly can!</p>
				{% else %}
					<p>Oops, error: {{ status.msg }}</p>
				{% endif %}
			{% else %}
				{{ page.gethtml|safe }}

				<form id="contact" action="/contact" method="POST">
					<div id="contactform">
						<div class="field-wrapper {% if form.sender.errors %}field-error{% endif %}"  >
							{{ form.sender.errors }}
							<label class="field-label" for="id_sender">your email</label>
							{{ form.sender }}
						</div>
						<div class="field-wrapper {% if form.subject.errors %}field-error{% endif %}">
							{{ form.subject.errors }}
							<label class="field-label" for="id_subject">subject</label>
							{{ form.subject }}
						</div>
						<div class="field-wrapper {% if form.message.errors %}field-error{% endif %}">
							{{ form.message.errors }}
							<label class="field-label" for="id_message">message</label>
							{{ form.message }}
						</div>
						<div class="field-wrapper">
							<label class="field-label" ></label>
							<input type="submit" class="button" value="Send" />
							<img src="/smedia/img/loading.gif" id="load-image" style="display:none" />
						</div>
					</div>
				</form>
			{% endif %}

		</div>

	</div>
</div>

{% endblock %}