{% extends "base.html" %}

{% block title %}Ben Ogle on the web{% endblock %}

{% block description %}{{ page.meta_description }}{% endblock %}

{% block keywords %}{{ page.meta_keywords }}{% endblock %}

{% block head-img %}{{ page.header_image.geturl }}{% endblock %}

{% block sidebar %}{% endblock %}

{% block ieblock %}{% endblock %}

{% block navblock %}{% endblock %}

{% block wrapperid %}front-page{% endblock %}


{% block script %}
$('.subject a').click(function(){
	$(this).blur();
	return true;
});
{% endblock %}


{% block content %}

<div class="front-page-text">
	{{ page.gethtml|safe }}
</div>

<div id="front-page-container">
	<div class="bigline">
		<div class="icon">
			<a href="http://blog.benogle.com"><img src="/smedia/img/accentblog_sm.png" border="0" alt="blog"/></a>
		</div>
		<div class="subject">
			<a href="http://blog.benogle.com" title="Check out the ramblings I made!">blog</a>
		</div>
	</div>

	<div class="bigline">
		<div class="icon">
			<a href="/about"><img src="/smedia/img/accentabout_sm.png" border="0" alt="about" /></a>
		</div>
		<div class="subject">
			<a href="/about" title="Learn about the dude my parents made!">about</a>
		</div>
	</div>

	<div class="bigline">
		<div class="icon">
			<a href="/projects"><img src="/smedia/img/accentproj_sm.png" border="0" alt="projects"/></a>
		</div>
		<div class="subject">
			<a href="/projects" title="Check out the stuff I made!">projects</a>
		</div>
	</div>

	<div class="bigline">
		<div class="icon">
			<a href="/contact"><img src="/smedia/img/accentcontact_sm.png" border="0" alt="contact"/></a>
		</div>
		<div class="subject">
			<a href="/contact" title="Use the contact form I made!">contact</a>
		</div>
	</div>
</div>

{% endblock %}