{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block description %}{{ page.meta_description }}{% endblock %}

{% block keywords %}{{ page.meta_keywords }}{% endblock %}

{% block head-img %}{{ page.header_image.geturl }}{% endblock %}

{% block sidebar %}{{ page.sidebar.content|safe }}{% endblock %}

{% block scriptfiles %}<link rel="stylesheet" href="/smedia/css/jquery.fancybox.css" />{% endblock %}

{% block script %}

$(document).ready(function(){
	$('a.pic-group').fancybox();
});

{% endblock %}

{% block content %}

<div class="entry-page">
	<h1 class="entry-title">{{ page.title }}</h1>
	
	<div class="entry-left">
		<div class="entry-image">
			<img src="{{ page.accent_image.geturl }}" alt="fluff image"/>
		</div>
	</div>

	<div class="entry">
		
		<div class="entry-content">
			{{ page.gethtml|safe }}
		</div>

	</div>
</div>

{% endblock %}