{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block description %}{{ page.description }}{% endblock %}

{% block keywords %}{{ page.keywords }}{% endblock %}

{% block head-img %}{{ page.header_image.geturl }}{% endblock %}

{% block sidebar %}{{ page.sidebar.content|safe }}{% endblock %}

{% block content %}

<div class="entry-page">
	<div class="entry-image">
		<img src="{{ page.accent_image.geturl }}" alt="fluff image"/>
	</div>

	<div class="entry">
		<h2 class="entry-title">{{ page.title }}</h2>
		<div class="entry-content">
			{{ page.gethtml|safe }}
		</div>

	</div>
</div>

{% endblock %}