{% extends "quaid_base.html" %}

{% block title %}Quaid{% endblock %}

{% block description %}Quaid's log module provides you with a nice, cross-browser logging
interface.{% endblock %}

{% block keywords %}quaid, jquery, widgets, object oriented,
stateful, plugin, logging, javascript, log{% endblock %}

{% block sidebar %}

{% endblock %}

{% block scriptfiles %}
{{block.super}}
<style>
    
</style>
{% endblock %}

{% block script %}
{{block.super}}

Q.currentPage = 'log';
$(document).ready(function(){

    for( var i = 0; i < $.log.LEVEL_ORDER.length; i++)
        $('#log-level').append($('<option/>', {value: i, text: $.log.LEVEL_FUNCTIONS[$.log.LEVEL_ORDER[i]]}));
    
    for( var i = 0; i < $.log.LEVEL_ORDER.length; i++)
        $('#log-type').append($('<option/>', {
            value: $.log.LEVEL_FUNCTIONS[$.log.LEVEL_ORDER[i]],
            text: 'Type - ' + $.log.LEVEL_FUNCTIONS[$.log.LEVEL_ORDER[i]]
        }));
    
    $('#example1 form').submit(function(){
        var self = $(this);
        var text = self.find('#custom-log').val();
        $[self.find('#log-type').val()](text);
        return false;
    });
    
    $('#log-level').change(function(){
        $.log.level = parseInt($(this).val());
    });
    
    $('#log-enabled').click(function(){
        $.log.enabled = $(this).is(':checked');
    });
    
    $('.log-button').click(function(){
        var fn = this.id.substring(4);
        $[fn]($(this).val());
    });
});

{% endblock %}

{% block entrytitle %}Quaid Log module{% endblock %}
{% block entrycontent %}

<p>Quaid's log module provides you with a nice, cross browser logging interface.
<code>console.log()</code> is awesome. But what if you don't have firebug enabled? Fail.
What if you leave one in and your user has IE6? Fail. Did you know that safari and firebug
have <code>console.error()</code> and <code>console.warn()</code> functions? Cool, right?
What happens when these are run on IE? This module allows you to use logging functionality
without worrying about these things.</p>

<p>The log module adds 5 functions to the jQuery namespace</p>

<pre class="prettyprint">
$.debug(); //level 0
$.info();  //level 1
$.warn();  //level 2
$.error(); //level 3
$.log();   //level 4
</pre>

<p>And a couple of options</p>

<pre class="prettyprint">
$.log.enabled = true;
$.log.level = 0;
</pre>

<p>Setting <code>$.log.enabled</code> to false will obviously not allow any log messages to
make it to the console.</p>

<p><code>$.log.level</code> allows you to adjust what kind of messages you see in the console.
The log module will only display messages from log functions with a level greater than or equal
to <code>$.log.level</code>. So by default, all messages show. Set <code>$.log.level</code>
to 2 and only warn, error, and log messages will appear.</p>

<div id="example1" class="example">
    <h4>Log Tester</h4>
    
    <p>Play around with this to get a handle on how the logging works. Open up firebug, your
    webkit console, or nothing, and it'll failover to firebug lite.</p>
    
    <form>
        <p>
            <input type="checkbox" id="log-enabled" checked="checked" class="checkbox"/>
            <span>Logging Enabled</span>
        </p>
        <p>
            <label>Log Level</label>
            <select id="log-level">
            </select>
        </p>
        <p>
            <input type="text" id="custom-log" class="textbox"/>
            <select id="log-type"></select>
            <input type="submit" value="log it!" id="custom-button"/>
        </p>
        <p>
            <input type="button" class="log-button" value="debug message" id="log-debug"/>
            <input type="button" class="log-button" value="info message" id="log-info"/>
            <input type="button" class="log-button" value="warn message" id="log-warn"/>
            <input type="button" class="log-button" value="error message" id="log-error"/>
            <input type="button" class="log-button" value="log message" id="log-log"/>
        </p>
    </form>
</div>

<h2 id="failover">Failover</h2>

<p>What if you're working on a browser that doesn't have a console? Quaid has a log
failover mechanism. It will automatically load
<a href="http://getfirebug.com/firebuglite">firebug lite</a> or the Quaid provided SimpleConsole when
console.log is not detected. There are a couple properties you can set.</p>

<pre class="prettyprint">
$.log.failoverToFirebugLite = true;
$.log.firebugLiteUrl = 'https://getfirebug.com/firebug-lite-beta.js';
</pre>

<p>When <code>$.log.failoverToFirebugLite</code> is true, it will load firebug lite when necessary.
If you set this property to false, Quaid will load SimpleConsole. I wrote SimpleConsole because
firebug lite was too slow on my IE VM. SimpleConsole is <i>very</i> basic, though, and just captures
log information.</p>

<p>If you would like to disable failover, or have it failover to your own code, you can replace
<code>$.log.failoverFn</code> with your own function.</p>

{% endblock %}